<% provide(:title, "収入科目一覧") %>
<h2>収入科目一覧</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table table-borderless income-table">
      <thead>
        <tr>
          <th>収入科目</th>
          <th></th>
          <th></th>
        <tr>
      </thead>
      <tbody>
        <% @incomes.each do |income| %>
          <tr>
            <td><%= income.income_name %></td>
            <td><%= link_to "編集", edit_user_income_path(@user, income), class: "btn btn-success btn-sm" %></td>
            <td>
              <%= link_to "削除", user_income_path(@user, income), method: :delete,
                  data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= link_to "収入科目を追加する", new_user_income_path(@user), class: "btn btn-primary income-button" %>
    </div>
  </div>
</div>