<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "資産管理共有アプリ", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <!-- ↓↓↓ <%= link_to "Top", root_path %> とルートパスを明示した記述にする -->
        <li><%= link_to "トップ", '#' %>
        <li><%= link_to "ログイン", '#' %>
      </ul>
    </nav>
  </div>
</header>